@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-family: "Noto Serif JP", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro",
    "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
  margin: 0px auto;
  padding: 0px;
  color: #3d3d40;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrapper {
  margin: 0px auto;
  text-align: left;
  overflow: hidden;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

/*-------------------------
        header
--------------------------*/
.header-wrap {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 15px 20px;
  background-color: rgb(41, 68, 89);
}

.header-wrap .temporary-image {
  width: 250px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #eee;
}

.header-wrap .tel {
  position: absolute;
  top: 23px;
  right: 30px;
  font-size: 2.3rem;
  letter-spacing: 1px;
  color: #fff;
}

.header-wrap .tel .icon {
  margin-right: 10px;
  color: #fff;
}

/*-------------------------
       first view
--------------------------*/
.first-view .wrap {
  position: relative;
  padding:50px;
  z-index: 0;
  overflow: hidden;
  background-color: rgb(0, 143, 175);
  color:#fff;
  /*半透明カラーの色*/
}

.first-view .wrap::before {
  content: '';
  background: url('../image/bg.jpg') no-repeat center;
  background-size:cover;
  opacity: 0.9;
  /*半透明カラーの透明度*/
  filter: blur(8px);
  /*ぼかし度*/
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
}

/* .first-view .wrap .text-wrap {
  /* float: left; */


.catchcopy {
  margin: 50px 0 30px;
  font-size: 5rem;
}

.sub-catchcopy {
  font-size: 3rem;
}

ul {
  margin: 0;
  padding: 0;
}

.point-wrap {
  display: flex;
  flex-direction: row;
  margin: 60px 0 0;
  padding: 0;
}

.point-item {
  width: 150px;
  height: 150px;
  margin-right: 20px;
  padding-top: 8px;
  border: 5px solid rgb(41, 68, 89);
  background-color: #fff;
  color: rgb(41, 68, 89);
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.9;
  letter-spacing: 1px;
  list-style: none;
}

.point-item .icon {
  font-size: 5.3rem;
}

.point-item span {
  margin: 10px 0;
  font-size: 1rem;
}

.point-item p {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.point-item .zenkoku {
  font-size: 1.4rem;
}

.first-view img{
  position: absolute;
  top:0;
  right:0;
  margin:60px 80px;
}
.first-view .btn {
  position: absolute;
  bottom: 60px;
  right: 5%;
  width: 48%;
  height: 80px;
  margin-top: 40px;
  border: none;
  border-radius: 40px;
  text-align: center;
  background-color: rgb(255, 193, 37);
}

.first-view .btn a {
  display: block;
  width: 100%;
  height: 80px;
  border: none;
  border-radius: 40px;
  font-size:2.4rem;
  line-height: 80px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
  transition: 0.3s;
}

.btn a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


/* 
.text-wrap .catchcopy {
  margin: 160px 0 0;
  font-size: 5rem;
  text-align: left;
  letter-spacing: 1px;
}

.text-wrap .sub-catchcopy {
  font-size: 1.9rem;
  text-align: left;
  line-height: 2;
  margin-left: 7px;
  letter-spacing: 1px;
}

.point-wrap {
  display: inline-block;
  padding: 20px 0 0;
}

.point-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.point-item {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  border: 5px solid rgb(41, 68, 89);
  background-color: #fff;
  color: rgb(41, 68, 89);
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.9;
  letter-spacing: 1px;
}

.point-item .first {
  position: absolute;
  top: 5px;
  left: 37px;
  font-weight: bold;
  margin: 0;
}

.point-item .second {
  position: absolute;
  top: 6px;
  left: 28px;
  font-weight: bold;
  margin: 0;
}

.point-item .third {
  position: absolute;
  top: 8px;
  left: 16px;
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
}

.point-item span {
  font-size: 1rem;
}

.point-item .icon {
  font-size: 5.3rem;
}

.first-view .btn {
  position: absolute;
  bottom: 54px;
  right: 40px;
  width: 460px;
  height: 70px;
  margin-top: 40px;
  border: none;
  border-radius: 40px;
  text-align: center;
  background-color: rgb(255, 193, 37);
}

.first-view .btn a {
  display: block;
  width: 460px;
  height: 70px;
  border: none;
  border-radius: 30px;
  font-size: 1.8rem;
  line-height: 70px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 3px;
  transition: 0.3s;
}

.btn a:hover {
  background-color: rgba(255, 255, 255, 0.3);
} */

/*-------------------------
       nayami
--------------------------*/

.heading {
  margin: 0;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-weight: normal;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
}

.nayami .wrap {
  background: url("../image/nayami.jpg") no-repeat;
  background-size: cover;
  height: 430px;
}

.nayami .nayami-box {
  width: 100%;
  height: auto;
  padding: 60px 150px 60px 100px;
}

.nayami .nayami-box:after {
  content: "";
  display: block;
  clear: both;
}

.nayami .nayami-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  float: right;
}

.nayami .nayami-box li {
  text-align: left;
}

.nayami .nayami-box li span {
  border-bottom: 1px dotted #000;
}

.nayami .nayami-box .icon {
  display: inline-block;
  margin-right: 5px;
  font-size: 2rem;
}

.nayami .nayami-box p {
  display: inline-block;
  margin: 20px 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

.nayami .kaiketsu {
  margin: 0;
  font-size: 3.5rem;
  letter-spacing: 3px;
  font-weight: normal;
  text-align: center;
  line-height: 120px;
  background-color: rgb(255, 166, 166);
}

.triangle {
  position: relative;
  bottom: -50px;
  left: 45%;
  width: 0;
  height: 0;
  margin: 0;
  border-top: 50px solid #fff;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

/*-------------------------
       reason
--------------------------*/
.reason .wrap {
  background-color: rgb(219, 236, 250);
  padding: 40px 0 50px;
  text-align: center;
}

.reason .heading {
  background-color: rgb(219, 236, 250);
  color: inherit;
}

.reason .heading span {
  font-size: 6rem;
  color: rgb(255, 193, 37);
  font-weight: 900;
}

.reason-wrap {
  font-size: 0;
}

.reason-box {
  display: inline-block;
  width: 25%;
  height: 310px;
  margin-right: 20px;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  vertical-align: top;
}

.reason-box .muryou {
  position: relative;
  top: -20px;
  width: 80px;
  height: 100px;
  font-size: 8rem;
  font-weight: bold;
  margin: 0 auto;
  color: rgb(28, 50, 69);
  letter-spacing: 8px;
}

.reason-box .icon {
  font-size: 7.5rem;
  margin-bottom: 20px;
  color: rgb(28, 50, 69);
}

.reason-box .reason-item {
  margin: 10px 0;
  font-size: 2.3rem;
  letter-spacing: 1px;
}

.reason-box .reason-item span {
  font-size: 2.4rem;
  font-weight: 700;
}

.reason-box .reason-text {
  margin: 0 0 10px;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.reason-box .reason-text span {
  border-bottom: 1px dotted;
  font-size: 1.5rem;
  font-weight: 700;
}

.reason-box .reason-detail {
  margin: 0;
  font-size: 1rem;
  letter-spacing: 1px;
}

.reason .wrap .text {
  margin-top: 10px;
  font-size: 3rem;
  letter-spacing: 2px;
}

.reason .wrap .text.first {
  margin: 80px 0 0;
}

.reason .wrap .text span {
  margin-left: 10px;
  font-size: 7rem;
  font-weight: bold;
  border-bottom: 1px dotted;
  letter-spacing: 3px;
}

.reason .wrap .text:before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 45%;
  width: 0;
  height: 0;
  margin: 0;
  border-top: 50px solid rgb(41, 68, 89);
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.reason .wrap .text:last-child:before {
  content: "";
  display: none;
}

/*-------------------------
        3step
--------------------------*/
.step .wrap {
  background-color: #fff;
  padding: 0 40px 40px;
  text-align: center;
}

.step .heading span {
  font-weight: 900;
  font-size: 6rem;
  color: rgb(255, 193, 37);
}

.step-wrap {
  display: inline-block;
  margin: 0 auto;
  font-size: 0;
}

.step-wrap .step-box {
  display: inline-block;
  width: 28%;
  margin: 0 20px;
  vertical-align: top;
}

.step-wrap .step-box:last-child {
  /* margin: 0; */
}

.step-wrap .step-box .step-title {
  width: 100%;
  height: 30px;
  margin: 0;
  font-size: 1.6rem;
  line-height: 30px;
  background-color: rgba(41, 68, 89);
  color: #fff;
  letter-spacing: 1px;
}

.step img {
  width: 100%;
  height: auto;
}

.step .image {
  position: relative;
}

/* 
.step .image:nth-child(1)before,
.image:nth-child(2)before {
    content: '';
    display: block;
    position: absolute;
    bottom: 80px;
    right: -28px;
    width: 0;
    height: 0;
    margin: 0;
    border-left: 20px solid rgb(28, 50, 69);
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
}

.step .image:after:nth-child(2) {
    display: none; */
/* 
.step-box:nth-child(1)::after,
.step-box:nth-child(2)::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid black;
  position: absolute;
  top: 410px;
  left: 170px;
} */

.step-wrap .step-box .step-desc {
  width: 100%;
  font-size: 1.4rem;
  padding: 15px 15px 0;
  text-align: left;
  margin: 0;
}

.step .note {
  width: 80%;
  /* height: 100px; */
  margin: 50px auto;
  padding: 20px 40px;
  background-color: #eee;
  font-size: 1.1rem;
  text-align: left;
}

.step .note ul {
  margin: 0;
  padding: 0;
}

.step .note .note-item {
  list-style: none;
}

/*-------------------------
        taishousha
--------------------------*/
.taishousha .heading {
  padding: 20px 0;
  line-height: 70px;
  background-color: rgb(219, 236, 250);
}

.taishousha-wrap {
  background-color: rgb(219, 236, 250);
  padding: 1px 50px 50px;
}

.taishousha ul {
  list-style: none;
  margin: 0;
  padding: 0 30px;
  /* background-color: #fff; */
}

.taishousha-item {
  position: relative;
  background-color: #fff;
  border-radius: 10px;


}

.taishousha-name {
  position: absolute;
  top: -25px;
  left: -8px;
  width: 120px;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(28, 50, 69);
  color: #fff;
  line-height: 25px;
  font-size: 1.3rem;
}

.taishousha-name.long-1 {
  width: 160px;
}

.taishousha-name.long-2 {
  width: 300px;
}

.taishousha-desc {
  padding: 25px;
  margin: 30px 0;
  letter-spacing: 1px;
  text-align: left;
  border: 1px solid #3d3d40;
  border-radius: 10px;
}

/*-------------------------
        brand
--------------------------*/
.brand-wrap {
  padding: 0 50px 50px;
}

.brand-box {
  position: relative;
  display: inline-block;
  width: 230px;
  height: 200px;
  text-align: center;
  /* border: 1px solid #000; */
  vertical-align: bottom;
}

/* .brand-name {
  margin: 0;
  font-size: 1.3rem;

} */

.brand .paramount {
  position: absolute;
  top: 25px;
  left: 15px;
}

.brand .france {
  position: absolute;
  top: 50px;
  left: 15px;
}

.brand .seahonence {
  position: absolute;
  top: 80px;
  left: 15px;
}

.brand .platz {
  position: absolute;
  top: 70px;
  left: 15px;
}

/*-------------------------
        voice
--------------------------*/
/* .voice .wrap {
  background-color: rgb(219, 236, 250);
  padding: 0 0 80px;
  text-align: center;
}

.voice .heading {
  background-color: rgb(219, 236, 250);
}

.voice-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border: 4px solid rgb(28, 50, 69);
  border-radius: 10px;
  text-align: left;
}

.voice-box .voice-icon-wrap {
  display: inline-block;
  font-size: 4rem;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgb(28, 50, 69);
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

.voice-box {
  display: inline-block;
  margin: 10px 0;
}

.voice-text {
  display: inline-block;
  margin: 0;
  font-size: 1.6rem;
}

.voice-name {
  margin: 0;
  text-align: right;
  font-size: 1.2rem;
} */

/*-------------------------
        inquiry
--------------------------*/
.inquiry .wrap {
  background-color: rgb(219, 236, 250);
  padding: 0 0 80px;
}

.inquiry .heading {
  background-color: rgb(219, 236, 250);
}

.inquiry-wrap {
  width: 80%;
  margin: 0 auto;
}

.inquiry-box {
  margin-bottom: 25px;
  border: 1px solid #eee;
  text-align: left;
  letter-spacing: 1px;
}

.inquiry-box span {
  margin-right: 10px;
}

.inquiry-item {
  margin: 0;
  padding: 10px 20px;
  font-size: 1.8rem;
  vertical-align: middle;
  background-color: rgb(26, 42, 55);
  color: #fff;
}

.answer {
  margin: 0;
  padding: 20px 20px;
  font-size: 1.4rem;
  background-color: #fff;
}

/*-------------------------
       contact
--------------------------*/
.contact .wrap {
  background-color: rgb(219, 236, 250);
  padding: 0 0 80px;
}

.contact .heading {
  width: 100%;
  padding-top: 10px;
  background-color: rgb(219, 236, 250);
  display: inline-block;
}

.contact .heading .btn {
  display: inline-block;
}

.contact .heading .order {
  background-color: rgb(255, 132, 132);
}

.contact .form {
  margin: 0 auto;
  padding: 10px 0 50px 0;
  width: 60%;
  border-radius: 10px;
  text-align: center;
}

.margin-right {
  margin-right: 130px;
}

.otoiawase-btn {
  margin-right: 70px;
}

.contact .form-item {
  margin: 15px 0;
}

.contact .form-item .select-btn input {
  display: block;
  margin: 0 width:15px;
  height: 15px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
  width: 60%;
  border-radius: 10px;
  text-align: center;
}

.contact .form-item {
  margin: 15px 0;
}

.contact .form-item select {
  width: 400px;
  height: 30px;
}

.contact .form-item input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: left;
}

.contact .form-item select {
  width: 400px;
  height: 30px;
}

.contact .form-item input {
  width: 400px;
  height: 30px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  text-align: left;
}

.contact span {
  display: inline-block;
  width: 23px;
  height: 15px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: rgb(254, 98, 98);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}

.contact .sub {
  width: 23px;
  height: 15px;
  margin-left: 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(180, 180, 180);
}

.sub {
  width: 23px;
  height: 15px;
  margin-left: 5px;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(180, 180, 180);
}

.contact .form-item lable {
  display: inline-block;
  width: 140px;
  text-align: left;
  margin-right: 16px;
}

.contact textarea {
  width: 400px;
  height: 120px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  vertical-align: top;
  display: inline-block;
  width: 140px;
  text-align: left;
  margin-right: 16px;
}

.contact textarea {
  width: 400px;
  height: 120px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  vertical-align: top;
}

.contact .form-item .file-wrap {
  display: block;
}

.call-and-line .wrap {
  background-color: #fff;
  padding: 40px 0;
}

.call-line-wrap {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin-right: 30px;
  background-color: rgb(219, 236, 250);
  border-radius: 10px;
  vertical-align: top;
  letter-spacing: 1px;
}

.call-line-wrap .text {
  font-size: 2.2rem;
  font-weight: normal;
}

.call-line-wrap .icon {
  margin-top: 20px;
  font-size: 10rem;
}

.call-line-wrap .tel {
  margin-top: 30px;
  font-size: 3.4rem;
}

.call-line-wrap img {
  box-shadow: 0 7px 10px 5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.call-line-wrap img:hover {
  background-color: rgba(255, 255, 255, 0.4);
  /* box-shadow: 0 10px 18px 5px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .1; */
}

.call-line-wrap .qr-code {
  margin: 0;
  margin: 10px 0 5px;
  font-size: 1.5rem;
}

.call-line-wrap .line-id {
  margin: 0;
  /* margin-top: 10px; */
  font-size: 2rem;
}

.contact .btn-wrap {
  text-align: center;
}

.contact .btn {
  display: block;
  width: 300px;
  height: 50px;
  margin: 30px auto 0;
  line-height: 50px;
  background-color: rgb(255, 193, 37);
  border-radius: 30px;
  border: 0;
  transition: 0.3s;
}

.contact .btn a {
  display: block;
  width: 300px;
  height: 50px;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 30px;
  border: 0;
  text-decoration: none;
}

/*---*/
.form {
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  text-align: right;
  text-align: center;
}

.form-item {
  display: block;
  margin: 15px 0;
}

.form-item select {
  width: 300px;
  height: 30px;
}

.form-item input {
  width: 300px;
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.form-item lable {
  display: inline-block;
  margin-right: 10px;
  width: 140px;
  text-align: left;
  margin-right: 16px;
}

.label-top {
  margin-right: 30px;
}

.margin-none {
  margin: 0;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.vertical-top {
  vertical-align: top;
}

.form-apply {
  display: none;
}

/*-------------------------
            sale
--------------------------*/
.sale .wrap {
  /* position: relative; */
  width: 100%;
  height: 400px;
  background-color: rgb(219, 236, 250);
  padding: 0px 100px 80px 50px;
}

.sale .heading {
  background-color: rgb(219, 236, 250);
}


.sale-text-wrap {
  width: 600px;
  font-size: 2rem;
  margin-top: 20px;
  float: left;
}

.sale-text-wrap .desc {
  font-size: 2rem;
  margin-bottom: 20px;
}

.sale-text-wrap .sub-desc {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sale-text-wrap .second {
  font-size: 1.7rem;
  font-weight: normal;
  margin-bottom: 50px;
}

.sale .temporary-image {
  display: block;
  width: 400px;
  height: 300px;
  margin-top: 20px;
  background-color: #eee;
  line-height: 300px;
  float: right;
}

.sale .btn {
  display: inline-block;
  width: 500px;
  height: 70px;
  border: none;
  border-radius: 40px;
  text-align: center;
  line-height: 70px;
  background-color: rgb(255, 193, 37);
  transition: 0.3s;
}

.sale .btn a {
  display: block;
  width: 500px;
  height: 70px;
  border: none;
  border-radius: 40px;
  text-align: center;
  line-height: 70px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
}

/*-------------------------
            footer
--------------------------*/
.footer {
  position: relative;
  background-color: rgb(28, 50, 69);
  padding: 20px;
  color: rgba(255, 255, 255, 0.927);
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer .logo {
  width: 180px;
  height: 40px;
  background-color: #eee;
  line-height: 40px;
  color: #000;
}

.footer .copyright {
  text-align: right;
  margin: 0;
  font-size: 1.3rem;
  line-height: 40px;
}

.footer .back-to-top {
  position: absolute;
  top: -45px;
  right: 5%;
  margin: 0;
  width: 90px;
  height: 45px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -border-radius: 90px 90px 0 0;
  background-color: #fff;
}

.footer .back-to-top a {
  position: relative;
  display: block;
  width: 90px;
  height: 45px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  text-decoration: none;
  color: #3d3d40;
}

.footer .back-to-top .icon {
  font-size: 2rem;
  margin-top: 4px;
  color: #3d3d40;
}

.footer .back-to-top a:after {
  display: block;
  position: absolute;
  bottom: 2px;
  left: 31px;
}

.label-top {
  margin-right: 30px;
}

.margin-none {
  margin: 0;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.vertical-top {
  vertical-align: top;
}

@media screen and (max-width:1170px) {
  .first-view .btn {
    width: 35%;
  }

  .first-view .btn a{
    width: 100%;
    font-size: 1.9rem;
  }
  .sale .temporary-image {
    width: 32%;
  }

  @media screen and (max-width:1060px) {
    .first-view .btn {
      width: 35%;
    }

    .first-view .btn a {
      display: block;
      font-size: 1.7rem;
        width: 100%;
    }

    .reason .heading {
      font-size: 3.5rem;
    }

    .reason .heading .br {
      display: block;
      line-height: 80px;
    }

    .reason .reason-wrap {
      margin-top: 40px;
    }

    .reason .reason-box {
      height: 380px;
    }

    .reason .text {
      font-size: 1rem;
    }

    .sale .wrap {
      width: 100%;
      height: 400px;
      padding: 0 40px;
      /* background: url('../image/bg.jpg')no-repeat;
      background-size: cover; */
      text-align: center;
    }

    .sale .temporary-image {
      display: none;
    }

    .sale-text-wrap {
      width: 100%;
      height: auto;
      display: block;
      text-align: center;
      margin: 20px auto 0;
    }

    .sale .desc {
      font-size: 2rem;
    }

    .sale .second {
      margin-bottom: 20px;
    }

    .sale .btn {
      margin-top: 30px;
    }

    .call-and-line .call-line-wrap {
      margin-bottom: 30px;
    }

    .footer .copyright {
      text-align: right;
    }

    @media screen and (max-width: 970px) {

      .first-view .wrap .text-wrap {
        display: block;
        width: 500px;
        height: 500px;
        margin:0 auto;
      }

      .catchcopy {
        margin: 50px 0 30px;
        font-size: 5rem;
      }

      .sub-catchcopy {
        font-size: 3rem;
      }

      ul {
        margin: 0;
        padding: 0;
      }

      .point-wrap {
        display: flex;
        flex-direction: row;
        margin: 30px 0 0;
        padding: 0;
      }

      .point-item {
        width: 150px;
        height: 150px;
        margin-right: 20px;
        padding-top: 8px;
        border: 5px solid rgb(41, 68, 89);
        background-color: #fff;
        color: rgb(41, 68, 89);
        border-radius: 50%;
        vertical-align: top;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.9;
        letter-spacing: 1px;
        list-style: none;
      }

      .point-item .zenkoku {
        font-size: 1.4rem;
      }

  
      .first-view .btn {
        width: 460px;
        height: 70px;
        margin-top: 40px auto;
        border: none;
        border-radius: 40px;
        text-align: center;
        background-color: rgb(255, 175, 37);
      }



      .first-view .btn a {
        display: block;
        width: 460px;
        height: 70px;
              margin-top: 40px auto;

        border-radius: 30px;
        font-size: 1.8rem;
        line-height: 70px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 3px;
        transition: 0.3s;
      }

      .btn a:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }

      /* .first-view .wrap {
        background: rgba(255, 255, 255, 0.1);
      } */

      /* .text-wrap {
        display: block;
        margin: 0 auto;
        width: 50%;
        text-align: center;
      }

      .text-wrap .catchcopy {
        margin: 50px 0 0 30px;
        font-size: 5rem;
        text-align: center;
      }

      .text-wrap .sub-catchcopy {
        margin: 0 0 20px 7px;
        font-size: 1.5rem;
        text-align: center;
      }

      .first-view .btn {
        display: block;
        width: 460px;
        margin: 0 auto; */

    }

    @media screen and (max-width: 835px) {
      .nayami .wrap{
        padding-top:100px;
      }

      .nayami .nayami-box{
        width:65%;
        margin:0 auto;
        padding:30px; 
        background-color: rgba(255, 255, 255, 0.6);
         border-radius: 30px;
      }
      .nayami .nayami-box ul{
        float:none;
        text-align: left;
      }
      .nayami li{
        display:block;
        width:100%;
        text-align: center;
      }
      .nayami .nayami-box p{
        margin:5px;
        text-align: left;
      }
     
      .step {
        display: block;
      }

      .step-wrap {
        width: 80%;
      }

      .step .step-box {
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: 768px) {

      .nayami .nayami-box p {
        font-size: 1.6rem;
      }

      .nayami .kaiketsu {
        font-size: 3rem;
        line-height: 90px;
      }

      .nayami .kaiketsu span {
        display: block;
      }

      .reason .wrap .text {
        font-size: 2.5rem;
      }

      .reason .wrap .text span {
        font-size: 5rem;
      }

      .contact .form {
        padding: 10px 40px;
      }

      .contact .form-item {
        margin: 15px 0;
        text-align: left;
      }

      .step {
        display: block;
      }

      .step-wrap {
        width: 80%;
      }

      .step .step-box {
        display: block;
        width: 100%;
        margin-bottom: 30px;
      }

      .taishousha .heading {
        padding: 10px 40px;
        font-size: 3rem;
      }

      .form {
        padding: 10px 40px;
        margin: 0 auto;
      }

      .form-item {
        margin: 15px 0;
        text-align: left;
      }

      .call-and-line .call-line-wrap {
        margin-bottom: 30px;
      }

      .sale .heading {
        font-size: 3rem;
      }

      .footer .logo {
        width: 120px;
      }

      .footer .copyright {
        font-size: 0.7rem;
      }
    }
    @media screen and (max-width: 655px) {
.nayami .nayami-box{
  width:70%;
  max-height:250px;
}
.nayami .nayami-box p{
font-size: 1.3rem;
}
  .nayami .nayami-box .icon {
font-size: 1.3rem;
  }
    @media screen and (max-width: 620px) {

  

      .reason .heading {
        padding: 20px 30px 0;
        font-size: 2.7rem;
        line-height: 100px;
      }

      .reason .heading span {
        font-size: 5rem;
      }

      .reason .wrap .text span {
        display: block;
        margin: 15px auto 20px;
        width: 200px;
        font-size: 6rem;
      }

      .reason .reason-box {
        display: block;
        width: 50%;
        height: auto;
        margin: 0 auto 20px;
      }

      .reason .wrap .text:before {
        content: "";
        display: block;
        position: relative;
        top: -20px;
        left: 40%;
        width: 0;
        height: 0;
        margin: 0;
        border-top: 50px solid rgb(41, 68, 89);
        border-right: 50px solid transparent;
        border-left: 50px solid transparent;
      }

      .sale .heading {
        font-size: 3rem;
        padding: 0 30px;
      }

      .sale .heading span {
        display: block;
        line-height: 30px;
      }

      .sale .sale-text-wrap {
        font-size: 1.5rem;
      }

      .sale .desc {
        margin-top: 40px;
      }

      .sale .btn {
        width: 70%;
      }

      .sale .btn a {
        display: block;
        width: 100%;
      }
    }
